# ==========================================
# Dependencies
# ==========================================
node_modules/

# ==========================================
# Expo
# ==========================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ==========================================
# Build outputs
# ==========================================
build/
coverage/

# ==========================================
# Vercel
# ==========================================
.vercel/

# ==========================================
# Environment variables
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Native
# ==========================================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ==========================================
# Metro
# ==========================================
.metro-health-check*

# ==========================================
# Debug Logs
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================================
# TypeScript
# ==========================================
*.tsbuildinfo

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Certificates
# ==========================================
*.pem

# ==========================================
# Generated native folders
# ==========================================
/ios
/android

# ==========================================
# IDEs
# ==========================================
.vscode/
.idea/

# ==========================================
# Temporary files
# ==========================================
*.tmp
*.temp